.input-error {
  border: 2px solid red;
}

.input-error-message {
  color: red;
}

.error-alert {
  color: red;
}

.test2 {
  color: green;
}

.test {
  background: red;
}

.test3 {
  margin: 30px;
}
